{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class ="container">

        <h1>Studenten</h1>
        <br/>
        <form action="/databank" METHOD="POST">

            <tr>
                <td>
                    <select name="subject">
                        <option>Kies een vak</option>
                        <optgroup label="2e Bachelor">
                            <option>Computerarchitecturen</option>
                            <option>Ingenieursbeleving 2</option>
                        </optgroup>
                        <optgroup label="3e Bachelor">
                            <option value=  "SA">Sensoren en Actuatoren</option>
                            <option value=  "IB3">Ingenieursbeleving 3</option>
                        </optgroup>
                    </select>

                </td>
                <td>
                    <input type="text" placeholder="Name" name="name">
                </td>
                
                <td>               
                    <input type="submit" value="Add Student" class="btn btn-secondary">
                </td>
            </tr>
        </form>
  
    <br/>
    {% for student in klas %}
        <h4>
            {{ student.cid }} | {{ student.vak }} | {{ student.name }}
        </h4>
    {% endfor %}
    </div>
{% endblock %}