{% extends "base.html" %}
{% block title %}Klaslokaal{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script> 
    
    setInterval(function(){
        $.ajax({
        type: "GET",
        url: "http://192.168.0.105:5000/values", 
        success: function(data) {
            var event_data = '';
            $.each(data.users, function(index, value){
                console.log(data);
                UpdateTafel(value);
                
            });
        }
    });
    }, 1000); //Ververs pagina elke 1 seconden
    
    setInterval(function(){
        location.reload();
    }, 5000);
    
    function UpdateTafel(value){
        //get ElementById -> check of value overeenkomt met één van de plaatsen -> kleur tafel groen
        for (let i = 1; i <= 24; i++) {
            var vraagbank = document.getElementById(String(i));
            if(value == i){
                
                vraagbank.setAttribute("fill", "red");
            }else{
                vraagbank.setAttribute("fill", "#82cc86");
            }
        } 
    }
    
    //document.getElementById('cid1').setAttribute("fill", "red"); 
    </script>
{% endblock %}

{% block content %}
<div class="w-25 p-3" >
    <select id="klaslokaal" onchange="TekenPlattegrond()">
        <option>Kies een lokaal</option>
        <option value="C106">C106</option>
        <option value="A212">A212</option>
        <option value="A213">A213</option>
        <option value="A217">A217</option>
    </select>
</div>

<style>
    svg {
      background-color: #f5f5f5;
    }
    rect {
      
      stroke: #333333;
      stroke-width: 2;
    }
</style>



<svg id='nieuwsvg' width="320" height="400">
    <!--
    <rect id='cid1' x="10" y="10" width="50" height="50" fill="#82cc86"/>
    <rect x="10" y="60" width="50" height="50" fill="#82cc86"/>
    <rect x="10" y="110" width="50" height="50" fill="#82cc86"/>
    <rect x="10" y="160" width="50" height="50" fill="#82cc86"/>
    <rect x="10" y="210" width="50" height="50" fill="#82cc86"/>
    <rect x="10" y="260" width="50" height="50" fill="#82cc86"/>


    <rect x="90" y="10" width="50" height="50" fill="#82cc86"/>
    <rect x="90" y="60" width="50" height="50" fill="#82cc86"/>
    <rect x="90" y="110" width="50" height="50" fill="#82cc86"/>
    <rect x="90" y="160" width="50" height="50" fill="#82cc86"/>
    <rect x="90" y="210" width="50" height="50" fill="#82cc86"/>
    <rect x="90" y="260" width="50" height="50" fill="#82cc86"/>


    <rect x="170" y="10" width="50" height="50" fill="#82cc86"/>
    <rect x="170" y="60" width="50" height="50" fill="#82cc86"/>
    <rect x="170" y="110" width="50" height="50" fill="#82cc86"/>
    <rect x="170" y="160" width="50" height="50" fill="#82cc86"/>
    <rect x="170" y="210" width="50" height="50" fill="#82cc86"/>
    <rect x="170" y="260" width="50" height="50" fill="#82cc86"/>


    <rect x="250" y="10" width="50" height="50" fill="#82cc86"/>
    <rect x="250" y="60" width="50" height="50" fill="#82cc86"/>
    <rect x="250" y="110" width="50" height="50" fill="#82cc86"/>
    <rect x="250" y="160" width="50" height="50" fill="#82cc86"/>
    <rect x="250" y="210" width="50" height="50" fill="#82cc86"/>
    <rect x="250" y="260" width="50" height="50" fill="#82cc86"/>

    -->
  </svg>

<script>

    //var urlParams = new URLSearchParams(window.location.search);
    //var saved_option = urlParams.get("option_select");
    var option_select = document.getElementById("klaslokaal");
    var saved_option = localStorage.getItem("klaslokaal");
    
    if(saved_option){
        option_select.value = saved_option;
    }
    

    function TekenPlattegrond() {
        
        var plattegrond = klaslokaal.value;
        var rectHTML = '';

        if (plattegrond == "C106") {
            
            for (var i = 0; i < 4; i++) { //kolommen
                for (var j = 0; j < 6; j++) { //rijen
                    var index = (1+j)+6*i;
                    var x = 10 + 80*i;
                    var y = 10 + 50*j;
                    rectHTML += `<rect id="${index}" + x="${x}" + y=${y} width="50" height="50" fill="#82cc86"/>`
                    
                }
            }
            document.getElementById('nieuwsvg').innerHTML = rectHTML;

        } else if (plattegrond == "A217") {
            document.getElementById('nieuwsvg').innerHTML = '';
            document.getElementById('nieuwsvg').setAttribute("width", "600");
            for (var i = 0; i < 5; i++) { //kolommen
                for (var j = 0; j < 3; j++) { //rijen
                    var index = (1+j)+3*i;
                    var x = 10 + 80*i;
                    var y = 10 + 60*j;
                    rectHTML += `<rect id="${index}" + x="${x}" + y=${y} width="50" height="50" fill="#82cc86"/>`
                    
                }
            }
            document.getElementById('nieuwsvg').innerHTML = rectHTML;
        }

            svgContainer.appendChild(svg);


        var saved_option = option_select.value;
        localStorage.setItem("klaslokaal",saved_option);
    }
    
</script>

<br /><br /><br /><br />
{% endblock %}



