{% extends "base.html" %}
{% block title %}Queue{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script> 
    setInterval(function(){
        $.ajax({
        type: "GET",
        url: "http://192.168.0.229:5000/values", 
        success: function(data) {
            var event_data = '';
            $.each(data.users, function(index, value){
                console.log(data);
                event_data += '<tr>';
                event_data += '<td>'+data.names[index]+'</td>';
                event_data += '<td>'+value+'</td>';
                event_data += '<td>'+data.time[index]+'</td>';
                event_data += '</tr>';
            });
            $("#list_table_json").empty();
            $("#list_table_json").append(event_data);
        }
    });
    }, 1000); //Ververs pagina elke 1 seconden
    </script>
{% endblock %}

{% block content %}
<div class="w-25 p-3" >
    <form ACTION="/selvak" METHOD="POST">
    <select name="vak" class="form-select"  aria-label="Default select example">
        <option>Vakken</option>
        <optgroup label="2e Bachelor">
            <option>Computerarchitecturen</option>
            <option>Ingenieursbeleving 2</option>
        </optgroup>
        <optgroup label="3e Bachelor">
            <option>Sensoren en Actuatoren</option>
            <option>Ingenieursbeleving 3</option>
        </optgroup>
    </select> 
    <br/>            
    <input type="submit" value="submit" class="btn btn-secondary">
</form>
</div>

    <br>
    <h3>{{subject}}</h3>
    <table class="table table-striped table-light">
        
        <thead>
            <tr>
                <th>Student</th>
                <th>User ID</th>
                <th>Join time</th>
            </tr>
        </thead>

        <tbody id="list_table_json">
            
        </tbody>
        
    </table>
{% endblock %}
