{% extends "base.html" %}
{% block title %}Queue{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script> setInterval(function(){
        $.ajax({
        type: "GET",
        url: "http://10.67.128.22:5000/values", 
        success: function(data) {
            var event_data = '';
            $.each(data.users, function(index, value){
                console.log(data);
                event_data += '<tr>';
                event_data += '<td>'+value+'</td>';
                event_data += '<td>'+data.time[index]+'</td>';
                event_data += '<td>'+data.names[index]+'</td>';
                event_data += '</tr>';
            });
            $("#list_table_json").empty();
            $("#list_table_json").append(event_data);
        }
    });
    }, 1000); //Ververs pagina elke 1 seconden
    </script>
{% endblock %}

{% block content %}

    <form ACTION="/selvak" METHOD="POST">
    <select name="vak">
        <option>Vakken</option>
        <optgroup label="2e Bachelor">
            <option>Computerarchitecturen</option>
            <option>Ingenieursbeleving 2</option>
        </optgroup>
        <optgroup label="3e Bachelor">
            <option>Sensoren en Actuatoren</option>
            <option>Ingenieursbeleving 3</option>
        </optgroup>
    </select>
    <td>               
        <input type="submit" value="submit" class="btn btn-secondary">
    </td>
    </br></br>
    
    </form>

    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Join time</th>
                <th>Student</th>
            </tr>
        </thead>
        <tbody id="list_table_json">
            
        </tbody>
    </table>
{% endblock %}
