{% extends "base.html" %}
{% block title %}Statistieken{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}


{% block content %}
<div class="w-25 p-3" >
  <form ACTION="/selvak2" METHOD="POST">
  <select name="vak" class="form-select"  aria-label="Default select example">
      <option>Vakken</option>
      <optgroup label="2e Bachelor">
          <option>Computerarchitecturen</option>
          <option>Ingenieursbeleving 2</option>
      </optgroup>
      <optgroup label="3e Bachelor">
          <option>Sensoren en Actuatoren</option>
          <option>Ingenieursbeleving 3</option>
      </optgroup>
  </select> 
  <br/>            
  <input type="submit" value="submit" class="btn btn-secondary">
</form>
</div>
<br/>
<h3>{{subject}}</h3>

<div class ='container'><h2 id="verwerken"></h2></div>
<div>
  <canvas id="myChart"></canvas>
</div>

<div class="table-container" id="tabel_geg" style="display: none;">
  <table id="mean-table">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Gemiddelde vraagtijd</th>
        <th>Maximum vraagtijd</th>
        <th>Aantal vragen</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table rows will be dynamically populated -->
    </tbody>
  </table>
</div>
<br/><br/>

<style>
    .table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  #mean-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #mean-table th,
  #mean-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #mean-table th {
    background-color: #f2f2f2;
  }
</style>

<script>
  
  var waitlist = JSON.parse('{{ waitlist | tojson | safe }}');
  var len_waitlist = waitlist.length;
  var names = JSON.parse('{{ names | tojson | safe }}');
  var cid = [];
  var stack = [];
  var datasets = [];
  var meanres = [];
  var maxres = [];
  var vragen = [];
  var colors = [
  'rgba(255, 99, 132, 0.2)',
  'rgba(54, 162, 235, 0.2)',
  'rgba(255, 206, 86, 0.2)',
  'rgba(75, 192, 192, 0.2)',
  'rgba(153, 102, 255, 0.2)',
  'rgba(255, 159, 64, 0.2)',
  'rgba(255, 0, 0, 0.2)',
  'rgba(0, 255, 0, 0.2)',
  'rgba(0, 0, 255, 0.2)',
  'rgba(128, 128, 128, 0.2)'
];


//waitlist.push({cid:'2',time:'600'},{cid:'2',time:'720'},{cid:'3',time:'60'},{cid:'1',time:'120'},{cid:'1',time:'60'})
//names.push('Jef');

//console.log([...waitlist])
//console.log(names)

  var cidSorted = {};
  var newCid = 1;

  for (var i = 0; i < waitlist.length; i++) {         //makes cid's consecutive from 1 to max(cid).
    var cid = waitlist[i].cid;
    if (!(cid in cidSorted)) {
        cidSorted[cid] = newCid;
        newCid++;
    }
    waitlist[i].cid = cidSorted[cid].toString();
  }

  var maxCid = Math.max(...waitlist.map(entry => parseInt(entry.cid)));    //determines max(cid).
  //console.log(maxCid)

if (waitlist == null || waitlist.length == 0 || maxCid != names.length) {
    //array does not exist or is empty
    document.getElementById("verwerken").innerHTML = "Nog aan het verwerken...";
}

else
{

  document.getElementById("tabel_geg").style.display = "block";
  //console.log([...waitlist])
  //calculates the mean of every cid, by adding up all the times and deviding by the amount of times.
  console.log("print tijd",waitlist[0].time)
  for(var i=0;i<names.length;i++){                    
    var k = 0; // vragen
    var mean = 0;
    for(var j=0;j<waitlist.length;j++){
      if(waitlist[j].cid==i+1){
        mean += (waitlist[j].time)/60
        k+=1;
      }
    }
    maxres.push(mean);
    vragen.push(k);
    if(k==0){
      mean = 0;
    }
    else{
      mean = mean/k;
    }
    console.log("mean:",mean)
    meanres.push(mean);
  }

  subject = waitlist[0].subject; // het vak opslaan voor in tabel
  
  for (let j = 0; j < names.length; j++) {
        for (let i = 0; i < len_waitlist; i++ ) {
          //console.log("print eeeee", waitlist[i].cid, names.length)
          if (names[j] == null && !names.includes(waitlist[i].cid) ) { // geen naam uit databank kunnen halen, naam is CID
            names[j] = waitlist[i].cid;
            break;
      }
    }
  }

  var k = 0;
  while(waitlist.length!=0){         //sorts the consecutive times every cid asked a question in stack and splices that time from waitlist.
    stack[k] = [];
    for(var i=1;i<=names.length;i++){
      for(var j=0;j<waitlist.length;j++){
        if(waitlist[j].cid==i){
          stack[k].push((waitlist[j].time)/60);
          waitlist.splice(j,1);
          break;
        }
        if(j==waitlist.length-1){
          stack[k].push(0);
          break;
        }
      }
    }
    k+=1;
  }

  console.log("namen",names);
  console.log("stack:",stack);

  for(var i=0;i<k;i++){                                    //makes the dataset list of every question per cid.
    var color = colors[i % colors.length]; 
    datasets.push({
      label: 'vraag '+(i+1),
      data:stack[i],
      backgroundColor: [color],
      borderColor: [color.replace('0.2', '1')],
      borderWidth: 1})
  }

  const ctx = document.getElementById('myChart');

  const data = {                                          //data for the graph based on names(cid) and amount of questions.
    labels: names,
    datasets: datasets
  };

const config = {                                          //drawing the stacked bar graph.
  type: 'bar',
  data: data,
  options: {
    indexAxis: 'y',
    scales: {
      x: {
        stacked: true,
        beginAtZero: true,
        ticks: {
                    callback: function(value, index, ticks) {           //better text in axis.
                        return Math.ceil(value) + 'min ';
                    },
                    stepSize: 5
                },
      },
      y: {
        stacked: true
      }
    },
    plugins: {                                                          //better text in hover bar.
      tooltip: {
        callbacks: {
          label: function (context) {
            var dataset = context.dataset;
            var value = dataset.data[context.dataIndex];
            var minutes = Math.floor(value);
            var seconds = Math.round((value * 60) % 60);
            return 'Time: ' + minutes + 'min ' + seconds + 's';
          }
        }
      }
    }
  }
};

new Chart(ctx, config);

console.log(meanres[0])
// Get the table body element
var tableBody = document.querySelector("#mean-table tbody");

  for (var i = 0; i < names.length; i++) {                                    //dynamic table.
    var row = tableBody.insertRow();

    var namesCell = row.insertCell();
    namesCell.textContent = names[i];

    var meanResCell = row.insertCell();
    meanResCell.textContent = Math.floor(meanres[i]) + "min " + (Math.round(meanres[i] * 60) % 60) + "s";

    var maxResCell = row.insertCell();
    maxResCell.textContent = Math.floor(maxres[i]) + "min " + (Math.round(maxres[i] * 60) % 60) + "s";

    var maxResCell = row.insertCell();
    maxResCell.textContent = vragen[i];

    /*var maxResCell = row.insertCell();
    maxResCell.textContent = subject;*/
  }
}

</script>

{% endblock %}



